@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,300,800&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic);
/* lightest to darkest */
* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Open Sans",sans-serif; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #193441; }
  body #container {
    min-height: 100%;
    position: relative;
    height: 100%; }
    body #container header {
      width: 100%;
      box-shadow: 0px 2px 1px #3e606f; }
      body #container header #title {
        padding: 12px 0px 12px 30px;
        color: #d1dbbd;
        font-size: 42px;
        font-weight: 300;
        text-shadow: 0px -2px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.4); }
        body #container header #title .navigation {
          float: right;
          display: inline; }
          body #container header #title .navigation span {
            display: block;
            float: left;
            text-decoration: none;
            font-size: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2); }
            body #container header #title .navigation span a:hover {
              color: #fcfff5; }
          body #container header #title .navigation #magic-line {
            position: absolute;
            padding-top: 5px;
            top: 66px;
            left: 0;
            width: 100px;
            background: #91aa9d; }
    body #container footer {
      color: #3e606f;
      text-align: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 5vh; }
      body #container footer div {
        box-shadow: 0px 2px 1px #3e606f;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px; }

#yt_videosurround {
  position: relative;
  margin: 10px auto; }

#yt_embededvideo {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto; }

.jcarousel-skin-tango .jcarousel-container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #3e606f;
  border: 0px solid #346F97; }
.jcarousel-skin-tango .jcarousel-direction-rtl {
  direction: rtl; }
.jcarousel-skin-tango .jcarousel-container-horizontal {
  width: 560px;
  padding: 20px 40px;
  margin-left: auto;
  margin-right: auto; }
.jcarousel-skin-tango .jcarousel-container-vertical {
  width: 75px;
  height: 245px;
  padding: 40px 20px; }
.jcarousel-skin-tango .jcarousel-clip {
  overflow: hidden; }
.jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 560px;
  height: 75px; }
.jcarousel-skin-tango .jcarousel-clip-vertical {
  width: 75px;
  height: 245px; }
.jcarousel-skin-tango .jcarousel-item {
  width: 75px;
  height: 75px; }
.jcarousel-skin-tango .jcarousel-item-horizontal {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer; }
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
  margin-left: 10px;
  margin-right: 0; }
.jcarousel-skin-tango .jcarousel-item-vertical {
  margin-bottom: 10px; }
.jcarousel-skin-tango .jcarousel-item-placeholder {
  background: #193441;
  color: #000; }
.jcarousel-skin-tango .jcarousel-next-horizontal {
  position: absolute;
  top: 43px;
  right: 5px;
  width: 32px;
  height: 40px;
  cursor: pointer;
  background: transparent url(../MEDIA/next-horizontal.png) no-repeat 0 0; }
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
  left: 5px;
  right: auto;
  background-image: url(../MEDIA/prev-horizontal.png); }
.jcarousel-skin-tango .jcarousel-next-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-horizontal:focus {
  /*background-position: -32px 0;*/ }
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
  /*background-position: -64px 0;*/ }
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal {
  cursor: default;
  background-position: -96px 0; }
  .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0; }
.jcarousel-skin-tango .jcarousel-prev-horizontal {
  position: absolute;
  top: 43px;
  left: 5px;
  width: 32px;
  height: 40px;
  cursor: pointer;
  background: transparent url(../MEDIA/prev-horizontal.png) no-repeat 0 0; }
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
  left: auto;
  right: 5px;
  background-image: url(../MEDIA/next-horizontal.png); }
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
  /*background-position: -32px 0;*/ }
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
  /*background-position: -64px 0;*/ }
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal {
  cursor: default;
  background-position: -96px 0; }
  .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0; }
.jcarousel-skin-tango .jcarousel-next-vertical {
  position: absolute;
  bottom: 5px;
  left: 43px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(next-vertical.png) no-repeat 0 0; }
  .jcarousel-skin-tango .jcarousel-next-vertical:hover, .jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px; }
  .jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px; }
.jcarousel-skin-tango .jcarousel-next-disabled-vertical {
  cursor: default;
  background-position: 0 -96px; }
  .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px; }
.jcarousel-skin-tango .jcarousel-prev-vertical {
  position: absolute;
  top: 5px;
  left: 43px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url(prev-vertical.png) no-repeat 0 0; }
  .jcarousel-skin-tango .jcarousel-prev-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px; }
  .jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px; }
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical {
  cursor: default;
  background-position: 0 -96px; }
  .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px; }

/**
 *  Horizontal Buttons
 */
/**
 *  Vertical Buttons
 */

/*# sourceMappingURL=video.css.map */
